* {
	margin: 0;
	padding: 0;
	border: none;
	font-size: 1.5625vw;
}

#music {
	width: 15vw;
	height: 15vw;
	border: 4px solid #ef1639;
	position: fixed;
	top: 3vh;
	right: 4vw;
	z-index: 5;
	border-radius: 50%;
	background-color: #fff;
}
#music > img:first-of-type {
	position: absolute;
	top: 24%;
	right: 2.5%;
	width: 28.421%;
}
#music > img:last-of-type {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 79%;
}