nav {
	background: #ccc;
	height: 50px;
}

#banner {
	background: #000;
	height: 900px;
}

nav ul {
	list-style: none;
	height: inherit;
	margin-bottom: 0;
	display: inline-block;
	line-height: 50px;
}
nav ul li {
	display: inline-block;
	line-height: inherit;
	// float: right;
	margin-right: 20px;
}
nav ul li a {
	line-height: inherit;
	display: inline-block;
	height: inherit;
	color: #fff;
}
.logo {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
}
nav ul .logo {
	float: left;
}
#banner .inner {
	max-width: 300px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 160px;
}
#banner .inner h1 {
	margin-top: 0;
}
#banner .inner .sub-heading {
	line-height: 30px;
	margin: 30px;
}
button {
	border: none;
	padding: 10px;
	background-color: #333;
	color: #eee;
}
#banner .inner button {
	padding: 14px 60px;
}
#banner .inner .more {
	margin-top: 200px;
}


































