* { margin: 0; padding: 0; }
body { background: #323232; font-size: 12px; padding: 60px;}
.tab ul li {
	list-style: none;
}
.tab {
	width: 300px;
}
.tab .tab-nav {
	height: 30px;
}
.tab .tab-nav li {
	float: left;
	width: 70px;
	text-align: center;
	margin-right: 5px;
	background: #767676;
	border-radius: 3px 3px 0 0;
}
.tab .tab-nav li a {
	text-decoration: none;
	line-height: 30px;
	display: block;
	color: #fff;
}
.tab .tab-nav li.actived {
	background: #fff;
}
.tab .tab-nav li.actived a {
	 color: #666;
	 font-weight: bold;
}
.tab .content-wrap {
	background-color: #fff;
	border: 5px solid #fbf9fa;
	height: 200px;
	overflow: hidden;
}
.tab .content-wrap .content-item {
	float: left;
	display: none;
}
.tab .content-wrap .content-item img {
	width: 100%;
}
.tab .content-wrap .current {
	display: block;
}