@charset "utf-8";
/* CSS Document */
.chat{
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 900px;
    min-height: 500px;
}
/*left*/
.left{
    height: 100%;
    margin-right: 220px;
    background: #f5f5f5;
    position: relative;
}
.left .fixed{
    width: 100%;
    height: 59px;
    border-bottom: 1px solid #dddddd;
    background: rgba(254,254,254,.8);
    left: 0;
    top: 0;
    position: absolute;
    -ms-user-select: none;
    -webkit-user-select: none;
    z-index: 100000;
}
.fixed img{
    width: 72px;
    height: 72px;
    margin-left: 40px;
    display: inline-block;
    opacity: 1;
    border-radius: 50%;
}
.fixed h6{
    margin:0 40px;
    font-size: 20px;
    line-height: 60px;
}
.fixed p{
    line-height: 60px;
}
.content_box{
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    padding-top: 80px;
}
.content{
    width: 100%;
    line-height: 20px;
    word-break: break-all;
}
.content img{
    display: inline-block;
}
.content ul{
    padding: 0 20px;
}
.content ul li{
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    font-size: 14px;
}
.content ul li span{
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 0;
    border-right: 7px solid #fff;
    top: 15px;
}
.content ul li span.arrow{
    left: -7px;
}
.content ul li.layim_chateme span{
    border-left: 7px solid #34BBF9;
    border-right: 0;
    right: -7px;
}
.content .layim_chatsay{
    max-width: 80%;
    padding: 12px 18px 10px;
    border-radius: 5px;
    background: #fff;
    float: left;
}
.content .layim_chateme .layim_chatsay{
    float: right;
    background: #34BBF9;
    color: #fff;
}
.content .clickSend{
    text-indent: 12px;
    display: inline-block;
}


/*聊天时间*/
li.time{
    text-align: center;
}
li.time strong{
    font-size: 12px;
}
/*send*/
.send_box{
    width: 100%;
    height: 90px;
    background: #ddd;
    position: absolute;
    left: 0;
    bottom: 0;
}
.send_box textarea{
    width: 82%;
    height: 45px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 5px 0;
    border:none;
    outline:none;
    resize: none;
    background: #ddd;
}
.send_box input[type=button]{
    width: 90px;
    height: 90px;
    background: #ddd;
    cursor: pointer;
    border-left: 1px solid #f5f5f5;
}
/*right*/
.right{
    width: 220px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
}

.right h5{
    text-align: center;
    line-height: 90px;
    font-size: 20px;
}
.hotline{
    width: 200px;
    height: 130px;
    position:absolute;
    bottom: 0px;
    right:-200px;
    cursor: pointer;
}
.hotline .hover{
    width: 20px;
    height: 130px;
    position: absolute;
    left: -20px;
    top: 0;
    line-height: 26px;
    text-align: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.hotline ul{
    padding: 0 10px;
    line-height: 43px;
}
.ad{
    width: 200px;
}


















