/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #ccc;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.mainBox {
	width: 1100px;
	overflow: hidden;
	margin: 20px auto;
	background: #888899;
	position: relative;
}
.mainBox ul li {
	float: left;
	width: 300px;
	overflow: hidden;
	border: 2em solid #fff;
	margin-left: -4em;
}
.mainBox ul {
	margin-left: 6em;
}
.mainBox ul li img {
	width: 100%;
}
.mainBox h2 {
	font-size: 1.8em;
	position: absolute;
	bottom: 60px;
	right: 40px;
	background: rgba(255,255,255,.6);
	letter-spacing: 0.4em;
	padding: 5px;
}
.mainBox .btnBox a {
	position: absolute;
	text-decoration: none;
	opacity: 0.6;
	cursor: pointer;
	box-shadow: 1px 1px 1px rgba(0,0,0, .6);
}
.mainBox .btnBox a:hover {
	opacity: 1;
}
.mainBox .btnBox .left-btn {
	top: 220px;
	left: 50px;
	font-size: 60px;
	color: #fff;
}
.mainBox .btnBox .right-btn {
	top: 220px;
	right: 50px;
	font-size: 60px;
	color: #fff;
}
.mainBox .btnBox .play-btn {
	top: 0;
	left: 0;
	border: 1px solid #999;
	padding: 9px;
}
























