/* ==============================
	       基础公共样式 
===============================*/
html {
	font-size: 62.5%;
	color: #222;
}
::selection {
	background-color: #b3d4fc;
	text-shadow: none;
}
div:before {
	display: table;
	content: " ";
}
div:after {
	display: table;
	content: " ";
	clear: both;
}
div {
	min-height: 200px;
}

@media screen and (min-width: 1900px) {
	.container {
		width: 1800px;
	}
	#imgs-box {
		width: 100%;
	}
}

#imgs-box {
	width: 100%;
	margin: 80px 0;
	text-align: center;
	// box-shadow: 2px 2px 5px #333333;
}
#imgs-box:after {
	box-shadow: 2px 2px 5px #333333;
	-webkit-box-shadow:2px 2px 5px #333333;
}

#imgs-box a {
	display: inline-block;
	margin: 30px 29px;
}
#imgs-box a img {
	width: 100%;

}
#vertical-img {
	// background-color: #369;
}

canvas {
	
}


// myGreatWall


























